<!-- Dependencies -->
node_modules
**/node_modules

<!-- Local env files -->
.env
next-env.d.ts

<!-- Turbo -->
.turbo

<!-- Git -->
.git
.gitignore

<!-- Build Outputs -->
.next
**/dist
**/build
**/.next

<!-- Misc -->
.vscode