name: Build and Push to Docker Hub
on: 
  push:
    branches:
     - main

jobs:
  build-on-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build and Push the Docker Image
        uses: docker/build-push-action@v6
        with: 
          context: .
          file: ./docker/Dockerfile.worker
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/collaborativecanvas-worker:${{ github.sha }}
      
      - name: Verify Pushed Image
        run: docker pull ${{ secrets.DOCKER_USERNAME }}/collaborativecanvas-worker:${{ github.sha }}